<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catface.goods.repository.mapper.CategoryMapper">

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id
    , parent_id, client_id, category_name, level, visibility, creator, modifier, created, updated, remark
  </sql>

  <!-- 查询类目列表 -->
  <select id="selectChildren" resultType="com.catface.goods.repository.entity.Category">
    select
    <include refid="Base_Column_List"/>
    from category
    where visibility = #{visibility}
    <if test="clientId!=null">
      and client_id = #{clientId}
    </if>
    <if test="parentId!=null">
      and parent_id = #{parentId}
    </if>
  </select>

  <!-- 查询一个子类目 -->
  <select id="selectOneChild" resultType="com.catface.goods.repository.entity.Category">
    select
    <include refid="Base_Column_List"/>
    from category where parent_id = #{parentId} limit 0,1
  </select>

</mapper>
